.div-account-right>.container-fluid:nth-child(2){
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.div-account-right>.container-fluid:nth-child(2)>.row{
    height: 50px;
    line-height: 50px;
}