@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:Myfont;
}
a,a:hover{
	text-decoration: none;
}
@font-face{
	font-family: Myfont;
	src: url(../font/utm_bryantlg_b.woff);
}

/* div header */
.divHeader{
	width: 1519px;
	height: 165px;
	margin: auto;
	position: relative;
}
.divHeaderTren{
	width: 1519px;
	height: 50px;
	border-bottom: 1px dashed #858585;
	padding-left: 168px;
}
.pHeaderTren1{
	font-size: 14px;
	font-weight: 400;
	line-height: 50px;
	color: #8d8d8d;
	float: left;
}
.pHeaderTren1 span{
	font-size: 18px;
	font-weight: 700;
	color: #ef7147;
}
.divHeaderTren form{
	float: left;
	margin-left: 519px;
	position: relative;
}
.divHeaderTren input{
	width: 237px;
	height: 30px;
	padding-left: 15px;
	margin-top: 10px;
	background-color: #eeeeee;
	border:1px solid #eeeeee;
	border-radius: 5px 0 0 5px;
	outline: none;
	font-size: 14px;
}
.divHeaderTren button{
	background-color: #eeeeee;
	border:1px solid #eeeeee;
	border-radius: 0 5px 5px 0;
	outline: none;
	width: 40px;
	height: 30px;
	position: absolute;
	right: -40px;
	top: 10px;
	cursor: pointer;
	transition: 0.3s;
}
#btn-userLogin:focus{
	box-shadow: none;
}
.divHeaderTren button:hover{
	color: orange;
}
.divHeaderTren>span{
	float: left;
	list-style: none;
	margin-left: 5px;
	font-size: 14px;
	font-weight: 400;
	color: #8d8d8d;
	line-height: 50px;
}
.divHeaderTren>span:hover{
	cursor: pointer;
	color: #ef7147;
}

.divHeaderMenu{
	width: 1519px;
	height: 99px;
	padding-left: 168px;
	position: relative;
	transform: translateX(-195px);
}
.divHeaderMenu img{
	float: left;
	margin-top: 33px;
	cursor: pointer;
}
.divHeaderMenu ul{
	float: left;
	margin-top: 8px;
}
.divHeaderMenu ul li{
	float: left;
	list-style: none;
	margin-left: 50px;
}
.divHeaderMenu ul li a{
	list-style: none;
	color: #333;
	font-size: 18px;
	line-height: 99px;
	padding-left: 5px;
}
.divHeaderMenu ul li:first-child{
	margin-left: 88px;
}
.divHeaderMenu ul li:hover{
	cursor: pointer;
	color: #ef7147;
}
.divHeaderMenu ul li:hover a{
	cursor: pointer;
	color: #ef7147;
}
.divGioHang{
	width: 200px;
	height: 99px;
	position: absolute;
	top: 8px;
	right: -82px;
	padding-top: 21px;
}
.divGioHang span{
	font-size: 18px;
	font-weight: bold;
}
.divGioHang span:hover{
	cursor: pointer;
	color: #ef7147;
}
.divSoLuong{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 10px;
	position: absolute;
	text-align: center;
	top: 20px;
	left: 20px;
}
.divSoLuong p{
	line-height: 18px;
	color: white;
}
.div-rangCua{
	width: 100%;
	height: 7px;
	/*background-image: url(../img/rang-cua.png);*/
	position: absolute;
	left: 0;
	bottom: -12px;
	z-index: 2;
}


/* bao phủ mờ */
#divBlur{
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100vh;
	background-color: black;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;
}
.showBlur{
	opacity: 0.5 !important;
	visibility: visible !important;
}




/*footer*/
.divFooter{
	background-image: url(../../fileupload/img/background_footer.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.pFooter1{
	font-size: 18px;
	text-transform: uppercase;
	color: #f4f4f4;
}
.pFooter2{
	color: #ef7147;
	text-align: justify;
}
.spanFooter1{
	font-size: 14px;
	color: #aaaaa9;
	font-family: Arial;
	padding-left: 10px;
	transition: 0.3s;
}
.spanFooter1:hover{
	color: #ef7147;
	cursor: pointer;
}
.btnBlog{
	background-color: #ef7147;
	color: white;
	font-family: Arial;
	transition: 0.3s;
	border: none;
	height: 35px;
	outline: none;
}
.btnBlog:hover{
	background-color: white;
	color: #ef7147;
	border: 1px solid #ef7147;
	cursor: pointer;
}



/*lên đầu trang*/
#divToTop{
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	background-color: #ef7147;
	border: 2px solid white;
	border-radius: 25px;
	text-align: center;
	transition: 0.3s;
	outline: none;
	cursor: pointer;
	opacity: 0;
	line-height: 40px;
	color: white;
}
#divToTop>i{
	font-size: 20px;
	color: white;
	cursor: pointer;
	transition: 0.3s;
	line-height: 50px;
}
#divToTop:hover{
	border: 2px solid #ef7147;
	background-color: white;
	outline: none;
	color: #ef7147;
}
#divToTop:hover i{
	color: #ef7147;
}


/*Xem nhanh sản phẩm*/
.divXemNhanhSP{
	/* position: fixed;
	top: 150px;
	left: 290px; */
	/* z-index: 4; */
	background-color: white;
	width: 800px;
	height: 350px;
	/* border: 1px solid #9B9B9B; */
	border-radius: 10px;
	/* opacity: 0; */
	/* visibility: hidden; */
}
.divXemNhanhSPLeft{
	width: 410px;
	height: 350px;
	float: left;
}
.divXemNhanhSPLeft>div>img{
	border-radius: 10px;
}
.divXemNhanhSPRight{
	width: 390px;
	height: 350px;
	float: left;
}
.pXemNhanhTieuDe{
	color: #333;
	font-size: 28px;
	padding: 0;
	margin: 0;
}
.spanXemNhanh1{
	font-family: Arial;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #333;
	
}
.spanXemNhanh2{
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	
}
.pXemNhanhGia{
	color: #ef7147;
	font-size: 30px;
	margin-top: 10px;
	
}
.divGachNgang{
	width: 100%;
	height: 0.5px;
	background-color: #BCBCBC;
}
#inputXemNhanhSp_Sl{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	height: 45px;
}
.btnTVGH{
	font-family: Arial;
	width: 155px;
	height: 45px;
	font-size: 14px;
	font-weight: bold;
	background-color: #ef7147;
	border: 1px solid #ef7147;
	cursor: pointer;
	line-height: 35px;
}
.btnTVGH:hover{
	color: #ef7147;
	background-color: white;
	border: 1px solid #ef7147;
}




/*Thông báo đã thêm sản phẩm vào giỏ hàng*/
.divThemVaoGioHang{
	width: 600px;
	height: 235px;
	border: 1px solid #A0A0A0;
	border-radius: 10px;
	position: fixed;
	top: 150px;
	left: 450px;
	z-index: 4;
	background-color: white;
	opacity: 0;
	visibility: hidden;
}
.pThemVaoGH1{
	font-size: 24px;
	line-height: 44px;
	color: #ef7147;
	text-align: center;
}
.spanTVGH1{
	font-size: 18px;
	color: #333;
}
.spanTVGH2{
	font-size: 16px;
	color: #ef7147;
}
.btnThemVaoGH{
	margin-top: 10px;
	background-color: #ef7147;
	border: 1px solid #ef7147;
	cursor: pointer;
}
.btnThemVaoGH:hover{
	background-color: white;
	border: 1px solid #ef7147;
	color: #ef7147;
}



/*Load trang */	
.divLoadTrang{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 1519px;
	height: 753px;
	background-color: white;
	margin: auto;
	text-align: center;
	padding-top: 340px;
}
.divLoadTrang>i{
	font-size: 30px;
}



.btn-button{
	background-color: #ef7147;
	border: 1px solid #ef7147;
	color: white;
}
.btn-button:hover{
	background-color: white;
	border: 1px solid #ef7147;	
	color: #ef7147;
	cursor: pointer;
}
.p-price{
	color: #ef7147;
}

.small-error{
	height: 20px;
	color: red !important;
}

.divIconXemNhanh, .divIconMuaHang{
	line-height: 40px;
}