@charset "utf-8";
/* CSS Document */
.div-content{
	background-image: url(../../fileupload/img/bg_all.png);
}
.div-content-item{
	height: 1230px;
	padding-top: 50px;
}
.p-content1{
	color: #ef7147;
	font-size: 20px;
	font-weight: bold;
}
.small-error{
	height: 20px;
	color: red !important;
}
.btn-login{
	margin-top: 20px;
	background-color: #ef7147;
	outline: none;
	border: none;
	cursor: pointer;
	border: 1px solid white;
	width: 100%;
}
.btn-login:hover{
	margin-top: 20px;
	background-color: white;
	outline: none;
	border: 1px solid #ef7147;
	color: #ef7147;
}
.div-form-login{
	background-color: white;
	border-radius: 5px;
	padding: 20px;
	height: 500px;
	margin-bottom: 40px;
}
.div-form-signup{
	background-color: white;
	border-radius: 5px;
	padding: 20px;
	height: auto;
	margin-bottom: 40px;
	padding: 0!important;
}
